@import "tailwindcss";


/* Custom Base Layer Adjustments */
@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    @apply bg-white text-slate-800;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom Component Utilities (Optional: for cleaner scrollbars) */
@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-200 rounded-full hover:bg-slate-300;
  }
}